@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}

.sidebar {
  width: 320px;
  height: 100vh;
  background: linear-gradient(to bottom, #316efa, #0547b2);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  color: white;
  text-align: center;
  flex-shrink: 0;
  z-index: 1000;
}

.logo {
  width: 191px;
  height: auto;
  margin-bottom: 10px;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  color: #0866ff;
  font-size: 15px;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin: 10px 0;
  transition: 0.3s ease-in-out;
  width: 100%;
  position: relative;
  transition: 0.3s;
}

.nav-button.active,
.nav-button:hover {
  background-color: #428aff;
  color: #fff;
}

.nav-button svg {
  position: absolute;
  margin-left: -180px;
  flex-shrink: 0;
}

.nav-button.active svg,
.nav-button:hover svg {
  stroke: #fff;
}

.main-content {
  margin-left: 320px;
  padding: 10px;
  width: calc(100%-320px);
  min-height: 100vh;
  background-color: #f5f5f5;
}

.scan-primary-container {
  width: 100%;
  padding: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
}

.profile-frame {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  border: 5px solid #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
}

.profile-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clock-container {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 30px;
}

#clock {
  font-size: 128px;
  font-weight: 600;
  color: #1a1a1a;
}

#date {
  font-size: 40px;
  font-weight: 600;
  color: #1a1a1a;
}

.shift-buttons {
  display: flex;
  gap: 26px;
  margin-top: 50px;
  justify-content: flex-end;
  align-items: center;
}

.shift-buttons .shift-btn {
  width: 100px;
  height: 40px;
  font-size: 14px;
  align-items: center;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  padding: 5px 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.shift-buttons .start-shift {
  background-color: #316efa;
  color: #fff;
}

.shift-buttons .start-shift:hover {
  background-color: #2557d6;
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.shift-buttons .start-shift:active {
  background-color: #1e47b3;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.shift-buttons .break {
  background-color: #3e27b7;
  color: #fff;
}

.shift-buttons .break:hover {
  background-color: #311d92;
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.shift-buttons .break:active {
  background-color: #27177a;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.shift-buttons .end-shift {
  background-color: #f5d8d8;
  color: #bb0202;
}

.shift-buttons .end-shift:hover {
  background-color: #e8b5b5;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.shift-buttons .end-shift:active {
  background-color: #d99999;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.scan-secondary-container {
  width: calc(100% - 360px);
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 20px;
  left: 335px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 10;
}

.guest-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 93px;
  height: 46px;
  background: none;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  color: #316efa;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px;
}

.guest-button:hover {
  background: #316efa;
  color: white;
}

.guest-button svg {
  width: 10px;
  height: 10px;
  padding-bottom: 15px;
}

.guest-button:hover svg {
  stroke: white;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.welcome-container h1 {
  font-size: 76px;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0;
}

.welcome-container p {
  font-size: 30px;
  font-weight: 600;
  color: #1a1a1a;
  margin: 10px 0;
}

.welcome-container svg {
  width: 127px;
  height: 127px;
  margin-top: 20px;
}

.scanned-container {
  display: none;
  text-align: center;
  padding: 20px;
}

.scanned-name {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  color: #2a5ed4;
}

.divider-line {
  position: absolute;
  bottom: 10px;
  left: 20px;
  top: 100px;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #d9d9d9;
}

.scanned-container-top {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 303px;
  height: 179px;
  background-color: #316efa;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.scanned-container-bottom {
  position: absolute;
  top: 300px;
  left: 20px;
  width: 303px;
  height: 179px;
  background-color: #316efa;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.container-title-top,
.container-title-bottom {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
}

.completion-time,
.completed-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.completion-hours,
.completed-hours {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  width: 80px;
  text-align: center;
}

.hours-title {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.scanned-container-top,
.scanned-container-bottom {
  padding: 20px;
}

.scanned-container-center {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding-bottom: 20px;
}

.weekly-reflection-title {
  font-size: 24px;
  font-weight: 300;
  color: #1a1a1a;
  text-align: left;
}

.reflection-divider-line {
  position: absolute;
  bottom: 10px;
  top: 50px;
  width: calc(100% - 40px);
  height: 1px;
  background-color: #d9d9d9;
}

.reflection-scrollable-container {
  position: relative;
  max-height: 200px;
  overflow-y: auto;
  padding-top: 10px;
}

.week-reflection {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.week-title {
  font-size: 15px;
  font-weight: 600;
  color: #1a1a1a;
  text-align: left;
  margin-bottom: 5px;
}

.reflection-text {
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  color: #1a1a1a;
}

.week-divider {
  height: 1px;
  width: calc(100% - 40px);
  background-color: #d9d9d9;
  margin-top: 10px;
}

.scanned-container-right {
  position: absolute;
  top: 110px;
  right: 20px;
  width: 25%;
  height: calc(100% - 130px);
  background-color: #f5d8d8;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.non-compliance-title {
  font-size: 24px;
  font-weight: 600;
  color: #bb0202;
  position: absolute;
  top: 15px;
  left: 20px;
  margin: 0;
}

.non-compliance-items {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.non-compliance-item {
  width: 100%;
  height: 50px;
  background-color: #f5a8a8;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

/* Guest container where the guest can input */

.guest-container {
  width: calc(100% - 360px);
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 20px;
  left: 335px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 10;

}

.user-wrapper {
  position: absolute;
  width: 364px;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

}

.display-guest-info {
  position: absolute;
  margin-right: 20px;
  top: 20px;
  left: 430px;
  width: auto;
  height: auto;
  flex-wrap: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.welcome-txt{
  font-size: 48px;
  font-weight: 300;
  color: #316EFF;
}

.welcome-txt b{
  font-weight: 600;
}

.instructions-txt{
  margin-top: 50px;
  color: #1b1b1b;
  font-size: 16px;
}

.input-text-container{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

#guest-name {
  margin-left: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #1b1b1b;
  width: 100%;

}

.information-before{
  color: #1b1b1b;
  font-size: 16px;
  margin-top: 10px;
}

.submit-guestname {
  width: 50%;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #0866ff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  height: 46px;
  transition: 0.3s;
}



/* Logbook */
.logbook-container {
  position: absolute;
  top: 20px;
  left: 300px;
  right: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  z-index: -1;
}

.logbook-title {
  font-size: 48px;
  font-weight: 300;
  color: #2a5ed4;
  margin-bottom: 20px;
}

.logbook-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  height: 46px;
}

.search-bar svg {
  margin-right: 8px;
}

.search-bar input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  color: #333;
}

.logbook-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #2a5ed4;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  height: 46px;
  transition: 0.3s;
}

.logbook-btn:hover {
  background: #1f4cbf;
}

.logbook-btn svg {
  stroke: white;
}
